/* Write your CSS here */

.container {
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 5px;
  justify-content: space-between;
  list-style: none;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.suggestion {
  font-weight: 400;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  font-size: 15px;
  padding: 5px;
}

img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
